@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat:300&display=swap');

h1 {
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
}